<component name="libraryTable">
  <library name="spring5">
    <CLASSES>
      <root url="file://$USER_HOME$/IdeaProjects/downloaded_libs/spring5" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$USER_HOME$/IdeaProjects/downloaded_libs/spring5" recursive="false" />
  </library>
</component>